/* Light Theme */
:root {
  --foreground: #000000;
  --background: #ffffff;
  --error-light: #ff1a1a;
  --error: #e00;
  --error-dark: #c00;
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0366d6;
  --warning-light: #f7b955;
  --warning: #f5a623;
  --warning-dark: #f49b0b;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
}

@media (prefers-color-scheme: dark) {
  @supports (font-variation-settings: normal) {
    html {
      font-weight: 450;
    }
  }
  :root {
    --foreground: #ffffff;
    --background: #000000;
    --error-light: #ff3333;
    --error: #ff0000;
    --error-dark: #e60000;
    --success-light: #3291ff;
    --success: #0070f3;
    --success-dark: #0366d6;
    --warning-light: #f7b955;
    --warning: #f5a623;
    --warning-dark: #f49b0b;
    --accents-1: #111111;
    --accents-2: #333333;
    --accents-3: #444444;
    --accents-4: #666666;
    --accents-5: #888888;
    --accents-6: #999999;
    --accents-7: #eaeaea;
    --accents-8: #fafafa;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-success-regular;
}

a:hover {
  @apply underline;
}

.reading {
  @apply max-w-3xl mx-auto;
}

/* Prism */
/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono;
  color: #f8f8f2;
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

pre[class*="language-"],
p > code {
  background: #2b2b2b;
}

p > code {
  color: #f8f8f2;
  @apply p-1 text-base whitespace-no-wrap rounded;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab;
}

.token.punctuation {
  color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a;
}

.token.boolean,
.token.number {
  color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #ffd700;
}

.token.keyword {
  color: #00e0e0;
}

.token.regex,
.token.important {
  color: #ffd700;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
